<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<%= render 'welcome/sub' %>
<br>
<br>
<br>


<%= render 'form', shop: @shop %>

<div class="broke" style="text-align:center;">
<%= link_to 'Back', shops_path, class: "btn btn-danger" %>
</div>
 