<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<% if mobile_device == "mobile" %>
<%= render 'welcome/sub' %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:20px; text-align: center; ">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>




<div id="myGroup">
  <script>
  var $myGroup = $('#myGroup');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
  </script>
  <style>
  .btn {
    padding-bottom: 4px;
  }
  </style>
  <div class="center" style="text-align:center;">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" data-parent="#myGroup">ROOMS</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2" data-parent="#myGroup">BEDDING</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3" data-parent="#myGroup">HOME DECOR</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4" data-parent="#myGroup">KITCHEN</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5" data-parent="#myGroup" >HOMECARE</button>
</div>
<br>
<br>
  
  <div id="demo" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh1">
     <img src="../assets/fh1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Sofa</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh2">
      <img src="../assets/fh2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Plastic Chair</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh3">
      <img src="../assets/fh3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wooden Chair</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh4">
     <img src="../assets/fh4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Folding Chair</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh5">
      <img src="../assets/fh5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Stools</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh6">
      <img src="../assets/fh6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Coffee Table</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh7">
     <img src="../assets/fh7.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Dining Table</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh8">
      <img src="../assets/fh8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Study Table</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh9">
      <img src="../assets/fh9.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Office Table</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh10">
     <img src="../assets/fh10.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Side Table</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh11">
      <img src="../assets/fh11.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Dressing Table</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh12">
      <img src="../assets/fh12.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Queen Size Bed</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh13">
     <img src="../assets/fh13.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>King Size Bed</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh14">
      <img src="../assets/fh14.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Single Bed</b></figcaption>
  </a>
    </div>
  
  </div>





  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh15">
     <img src="../assets/fh15.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Almirah</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh16">
      <img src="../assets/fh16.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Storage Cabinets</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh17">
      <img src="../assets/fh17.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Selves</b></figcaption>
  </a>
    </div>
  
  </div>
</div>


</div>



















  <div id="demo2" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh18">
     <img src="../assets/fh18.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Matress Single</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh19">
      <img src="../assets/fh19.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Matress Double</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh20">
      <img src="../assets/fh20.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Matress Protecter</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh21">
     <img src="../assets/fh21.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Bed Sheet</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh22">
      <img src="../assets/fh22.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Bed Cover</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh23">
      <img src="../assets/fh23.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Blanket</b></figcaption>
  </a>
    </div>
  
  </div>


  <br>
  <br>
  <br>



  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh24">
     <img src="../assets/fh24.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Pillow</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh25">
      <img src="../assets/fh25.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cushions</b></figcaption>
  </a>
    </div>
  
  </div>
</div>
</div>



























  <div id="demo3" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh26">
     <img src="../assets/fh26.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Pooja Special</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh27">
      <img src="../assets/fh27.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Window CUrtain</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh28">
      <img src="../assets/fh28.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Door Curtain</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh29">
     <img src="../assets/fh29.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Door Mat</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh30">
      <img src="../assets/fh30.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Towel</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh31">
      <img src="../assets/fh31.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Idols</b></figcaption>
  </a>
    </div>
  
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh32">
     <img src="../assets/fh32.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Painting</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh33">
      <img src="../assets/fh33.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Photo Frame</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh34">
      <img src="../assets/fh34.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Vases</b></figcaption>
  </a>
    </div>
  
  </div>



    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh35">
     <img src="../assets/fh35.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Flower Pots</b></figcaption>
  </a>
    </div>
  
  </div>
</div>
</div>

































  <div id="demo4" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh36">
     <img src="../assets/fh36.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Cooker</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh37">
      <img src="../assets/fh37.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Kadhai</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh38">
      <img src="../assets/fh33.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Gas Stove</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>
    <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh39">
     <img src="../assets/fh38.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Tawa</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh40">
      <img src="../assets/fh39.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Roti Maker</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh41">
      <img src="../assets/fh40.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cooking Tools</b></figcaption>
  </a>
    </div>
  
  </div>



    <br>
  <br>
  <br>
    <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh42">
     <img src="../assets/fh41.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Frying Pans</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh43">
      <img src="../assets/fh42.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Containers</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh44">
      <img src="../assets/fh43.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Chopping Board</b></figcaption>
  </a>
    </div>
  
  </div>






  <br>
  <br>
  <br>
    <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh45">
     <img src="../assets/fh45.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Aprons</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh46">
      <img src="../assets/fh46.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Gloves</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh47">
      <img src="../assets/fh47.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Mops</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
</div>
</div>




























  <div id="demo5" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh48">
     <img src="../assets/fh48.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Cleaning Tools</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh49">
      <img src="../assets/fh49.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Detergents</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh50">
      <img src="../assets/fh50.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Disposables</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh51">
     <img src="../assets/fh51.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Bathroom Cleaners</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh52">
      <img src="../assets/fh52.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Toilet Cleaners</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh53">
      <img src="../assets/fh53.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Freshners</b></figcaption>
  </a>
    </div>
  
  </div>






    <br>
  <br>
  <br>
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/fh54">
     <img src="../assets/fh54.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Shoecare</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh55">
      <img src="../assets/fh55.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Home Cleaning</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/fh56">
      <img src="../assets/fh56.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Domestic Help</b></figcaption>
  </a>
    </div>
  
  </div>
</div>
</div>




</div>
