<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>

<br>
<br>
<br>


<div class="center" style="text-align:center;">
  <h3>Weddings & Events</h3>
</div>


<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/wed1">
     <img src="../assets/wed1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Decoration</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed2">
      <img src="../assets/wed2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Florists</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed3">
      <img src="../assets/wed3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tent House</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/wed4">
     <img src="../assets/wed4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Wedding Hall</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed5">
      <img src="../assets/wed5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Caterers</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed6">
      <img src="../assets/wed6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Photographers</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/wed7">
     <img src="../assets/wed7.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Jwellery</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed8">
      <img src="../assets/wed8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Makeup</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed9">
      <img src="../assets/wed9.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Mehndi</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  





<div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/wed10">
     <img src="../assets/wed10.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Pandit</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed11">
      <img src="../assets/wed11.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sound System</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed12">
      <img src="../assets/wed12.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sweet Shop</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/wed13">
     <img src="../assets/wed13.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Fierworks</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed14">
      <img src="../assets/wed14.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Event Organisers</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/wed15">
      <img src="../assets/wed15.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Singers</b></figcaption>
  </a>
    </div>
  
  </div>
</div>