<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        <input type="text" placeholder="District" class="btn-group2"style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>

<br>
<br>
<br>

<div class="center" style="text-align:center;">
  <h3>Fashion World</h3>
</div>
<div id="myGroup">
  <script>
  var $myGroup = $('#myGroup');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
  </script>
  <style>
  .btn {
    padding-bottom: 4px;
  }
  </style>
  <div class="center" style="text-align:center;">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">WOMEN"S CLOTHING</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">MEN"S CLOTHING</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">BAGS</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Watches</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">ACESSORIES</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">WOMEN"S FOOTWEAR</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">MEN'S FOOTWEAR</button>
</div>
<br>
<br>
  <div id="demo" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Saree</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Kurta/Kurti</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Salwar Suit</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Blouse</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Shirt</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Top</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa7.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Dupatta</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Leggings</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa9.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Jeans</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa10.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Trousers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa11.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Joggers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa12.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Caps</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa13.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Shorts</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa14.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Lingerie</b></figcaption>
    </div>
  </div>
</div>


</div>



















  <div id="demo2" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa15.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Shirt</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa16.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>T-Shirt</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa17.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sweatshirt</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa18.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Coat</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa19.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Blazer</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa20.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tie</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>



  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa21.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Jeans</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa22.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Trouser</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa23.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Joggers</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>



  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa24.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Loungwear</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa25.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Short</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa26.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Underwear</b></figcaption>
    </div>
  </div>
</div>
</div>




























  <div id="demo3" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa27.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Handbag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa28.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Shoulder Bag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa29.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Travel Bag</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa30.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Tote Bag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa31.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sling Bag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa32.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Shipping Bag</b></figcaption>
    </div>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa33.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Messenger Bag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa34.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Clutches</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa35.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wallets</b></figcaption>
    </div>
  </div>



    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa36.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Pouches</b></figcaption>
    </div>
  </div>
</div>
</div>

































  <div id="demo4" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa37.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Womens</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa38.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Mens</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa39.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sports</b></figcaption>
    </div>
  </div>
  <br>
</div>
</div>




























  <div id="demo5" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa40.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Eye GLass</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa41.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sun GLasses</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa42.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Caps</b></figcaption>
    </div>
  </div>
</div>
</div>



















  <div id="demo6" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa43.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Heals</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa44.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sandels</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa45.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Flip FLops</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa46.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Slippers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa47.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sport Shoes</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa48.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Mojaris</b></figcaption>
    </div>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa49.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Flats</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa50.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Wedgs</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa51.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Boots</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa52.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Socks</b></figcaption>
    </div>

</div>
</div>

</div>















































































<div id="demo7" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa53.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Casuals</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa54.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sandels</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa55.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Flip Flops</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
<div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/fa56.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Slippers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa57.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sports Shoes</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/fa58.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Formals</b></figcaption>
    </div>
  </div>

</div>
</div>
</div>