<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>

<br>
<br>
<br>

<div id="myGroup">
  <script>
  var $myGroup = $('#myGroup');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
  </script>
  
  <div class="center" style="text-align:center;">
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Makeup</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">SKIN</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">HAIR</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">SHAVING</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">FRAGNENCE</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">BABY CARE</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">HEALTH CARE</button>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8">SPORTS</button>
</div>
<br>
<br>

  <div id="demo" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
        <a href="/welcome/hbb1">
     <img src="../assets/hbb1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Lips</b></figcaption>
     </a>
    </div>
  
    
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
        <a href="/welcome/hbb2">
      <img src="../assets/hbb2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Face</b></figcaption>
      </a>
    </div>
  
    
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
        <a href="/welcome/hbb3">
      <img src="../assets/hbb3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Nails</b></figcaption>
      </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb4">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Kits</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb5">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tools</b></figcaption>
    </div>
  </a>
  </div>
</div>


</div>



















  <div id="demo2" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb6">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb6.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Facewash</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb7">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb7.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Toner</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb8">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cleaner</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb9">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb9.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Sunscream</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb10">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb10.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Bleach</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb11">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb11.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Body Oil</b></figcaption>
    </div>
  </a>
  </div>


  <br>
  <br>
  <br>



  <div class="row">
    
    <a href="/welcome/hbb12">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb12.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Scrub</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb13">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb13.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Handwash</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb14">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb14.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Hair Remover</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>




























  <div id="demo3" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb15">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb15.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Shampoo</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb16">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb16.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Conditioner</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb17">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb17.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Serum</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb18">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb18.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Gels</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb19">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb19.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sprey</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb20">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb20.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Colour</b></figcaption>
    </div>
  </a>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb21">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb21.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Brushes</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb22">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb22.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Dryer</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb23">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb23.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Straightner Roller</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>

































  <div id="demo4" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb24">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb24.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Razors</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb25">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb25.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Shavers</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb26">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb26.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cream</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb27">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb27.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Brushes</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb28">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb28.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Pre & Post</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb29">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb29.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Moustach Care</b></figcaption>
    </div>
  </a>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb30">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb30.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Men's Creame</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>




























  <div id="demo5" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb31">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb31.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>DEODRANTS</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb32">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb32.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>BODY MST</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb33">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb33.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>PERFUME</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>



















  <div id="demo6" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb34">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb34.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Food</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb35">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb35.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Cloths</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb36">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/d3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Girl Cloth</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb37">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb36.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Shoes</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb38">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb37.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Soap</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb39">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb38.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Oil</b></figcaption>
    </div>
  </a>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb40">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb39.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Creame</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb41">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb40.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Boys Gear</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb42">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb41.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Diapers</b></figcaption>
    </div>
  </a>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb43">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb42.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>School Kit</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb44">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb43.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Lunch Box</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb45">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb44.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Water Bottle</b></figcaption>
    </div>
  </a>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb46">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb45.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>School Bag</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb47">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb46.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Toys</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb48">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb47.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Birthday Gifts</b></figcaption>
    </div>
  </a>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb49">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb48.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Bed Protectors</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb50">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb49.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Potty Chairs</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>








































































  <div id="demo7" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb51">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb50.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Oral Care</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb52">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb51.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Suppliments</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb53">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb52.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sanitary Pads</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb54">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb53.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Weight Managment</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb55">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb54.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sexual Wellness</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb56">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb55.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Stimulants</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>































  <div id="demo8" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    
    <a href="/welcome/hbb57">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb57.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Fitness Equipments</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb58">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb58.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Running</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb59">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb59.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Swimming</b></figcaption>
    </div>
  </a>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb60">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb60.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Yoga</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb61">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb61.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cyclying</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb62">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb62.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tennis</b></figcaption>
    </div>
  </a>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb63">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb63.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Badminton</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb64">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb64.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Squash</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb65">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb65.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Table Tannis</b></figcaption>
    </div>
  </a>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb66">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb66.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Cricket</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb67">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb67.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Volleyball</b></figcaption>
    </div>
  </a>
    
    <a href="/welcome/hbb68">
      <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb68.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Basket Ball</b></figcaption>
    </div>
  </a>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
    <a href="/welcome/hbb69">
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb69.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Hockey</b></figcaption>
    </div>
  </a>
  </div>
</div>
</div>
</div>