<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<% if mobile_device == "mobile" %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:27px;">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        <input type="text" placeholder="District" class="btn-group2"style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>

<br>
<br>
<br>

<div class="center" style="text-align:center;">
  <h3>Health Babycare & Beauty</h3>
</div>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Makeup</button>
  <div id="demo" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb1.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Lips</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Face</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Nails</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb4.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Kits</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb5.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tools</b></figcaption>
    </div>
  </div>
</div>


</div>


















<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">SKIN</button>
  <div id="demo2" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb6.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Facewash</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb7.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Toner</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb8.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cleaner</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb9.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Sunscream</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb10.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Bleach</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb11.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Body Oil</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>



  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb12.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Scrub</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb13.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Handwash</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb14.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Hair Remover</b></figcaption>
    </div>
  </div>
</div>
</div>



























<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">HAIR</button>
  <div id="demo3" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb15.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Shampoo</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb16.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Conditioner</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb17.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Serum</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb18.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Gels</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb19.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sprey</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb20.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Colour</b></figcaption>
    </div>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb21.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Brushes</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb22.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Dryer</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb23.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Straightner Roller</b></figcaption>
    </div>
  </div>
</div>
</div>
































<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">SHAVING</button>
  <div id="demo4" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb24.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Razors</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb25.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Shavers</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb26.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cream</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb27.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Brushes</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb28.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Pre & Post</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb29.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Moustach Care</b></figcaption>
    </div>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb30.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Men's Creame</b></figcaption>
    </div>
  </div>
</div>
</div>



























<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">FRAGNENCE</button>
  <div id="demo5" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb31.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>DEODRANTS</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb32.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>BODY MST</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb33.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>PERFUME</b></figcaption>
    </div>
  </div>
</div>
</div>


















<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">BABY CARE</button>
  <div id="demo6" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb34.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Food</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb35.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Cloths</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/d3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Girl Cloth</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb36.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Shoes</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb37.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Soap</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb38.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Baby Oil</b></figcaption>
    </div>
  </div>



  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb39.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Baby Creame</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb40.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Boys Gear</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb41.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Diapers</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb42.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>School Kit</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb43.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Lunch Box</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb44.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Water Bottle</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb45.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>School Bag</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb46.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Toys</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb47.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Birthday Gifts</b></figcaption>
    </div>
  </div>


  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb48.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Bed Protectors</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb49.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Potty Chairs</b></figcaption>
    </div>
  </div>
</div>
</div>







































































<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">HEALTH CARE</button>
  <div id="demo7" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb50.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Oral Care</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb51.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Suppliments</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb52.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sanitary Pads</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb53.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Weight Managment</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb54.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Sexual Wellness</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb55.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Stimulants</b></figcaption>
    </div>
  </div>
</div>
</div>






























<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8">SPORTS</button>
  <div id="demo8" class="collapse">
<div class="container" style="background-color:#fff;">
  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb57.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Fitness Equipments</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb58.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Running</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb59.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Swimming</b></figcaption>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb60.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Yoga</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb61.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Cyclying</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb62.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Tennis</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb63.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Badminton</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb64.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Squash</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb65.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Table Tannis</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb66.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Cricket</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb67.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Volleyball</b></figcaption>
    </div>
    <div class="col" style="padding-left:0px; padding-right:0px;">
      <img src="../assets/hbb68.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Basket Ball</b></figcaption>
    </div>
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
     <img src="../assets/hbb69.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Hockey</b></figcaption>
    </div>
  </div>
</div>
</div>