<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<% if mobile_device == "mobile" %>
<%= render 'welcome/sub' %>
<br>
<hr>
<form class="form-wrap mt-4" style="background:#252A33; padding-top:20px; text-align: center; ">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="Search Anything" class="btn-group1" style="width:180px;">
                                        
                                        <a href="/welcome/search"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png" style="height:20px; width:20px;"></a>
                                    </div>
                                </form>
                                <% else %>
                                <br>
                                 <% end %>




<div class="container" style="background-color:#fff;">
  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/shop1">
     <img src="../assets/find-place7.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Electronics</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/shop2">
      <img src="../assets/find-place6.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Fashion</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/shop3">
      <img src="../assets/et3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Furniture</b></figcaption>
  </a>
    </div>
  
  </div>
  <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/shop4">
     <img src="../assets/find-place5.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Kitchen Stores</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/shop5">
      <img src="../assets/find-place2.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Hotels</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/shop6">
      <img src="../assets/find-place3.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Grocery</b></figcaption>
  </a>
    </div>
  
  </div>
    <br>
  <br>
  <br>


  <div class="row">
    
      <div class="col" style="padding-left:0px; padding-right:0px; text-align:center;">
    <a href="/welcome/shop7">
     <img src="../assets/babycare.jpg" style="height:100px; width:100px;" alt="Park">
     <figcaption><b>Health</b></figcaption>
  </a>
    </div>
  
    
      <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/shop8">
      <img src="../assets/find-place1.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Event</b></figcaption>
  </a>
    </div>



     <div class="col" style="padding-left:0px; padding-right:0px;">
    <a href="/welcome/old">
      <img src="../assets/old.jpg" style="height:100px; width:100px;" alt="Park">
      <figcaption><b>Old Items</b></figcaption>
  </a>
    </div>
  

  </div>
    <br>

</div>