<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<%= render 'welcome/sub' %>
<div class="container" style="margin-top: 200px">
	<h1><%= @number.code %></h1>	
</div>	