<div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>We Wil contact you</strong> When your order will be dispatched from our warehouse.</p>
  <hr>
  <p>
    Having trouble? <a href="/welcome/contact">Contact us</a>
  </p>
  <p class="lead">
    In The mean time you can track your order!
    <a class="btn btn-primary btn-sm" href="/order_tracking" role="button">Track Your Order</a>
  </p>

  <p>You would have recived a Tracking/Order Number, Please save that for tracking your order in the future.</p>
</div>

